.city{
    background-color:  #f3f3f3;
    text-align:center;
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    & h2{
    font-family: "roboto","cursive";    
    font-size: 18px;
    font-weight: bold;
    color: #7c7c7c;
    padding-right: 83px;
    margin-top: 10px;
    margin-bottom: 11px;
    padding-top: 7px;
     }
    & .fa-map-marker-alt{
    font-size: 18px;
    padding-left: 108px;
    padding-right: 15px;
    padding-bottom: 2px;
     }
}