@use"../mixin/hover.scss";
@use"../mixin/shadow.scss"; 
 /* effectuer le 20/01/2022-*/

/* la partie explorer */
.explore{
    text-align: center;
    background-color: #f6f6f6;
    & h2{
     font-size: 33px;
     padding: 30px 15px 10px 15px;
     margin-top: 0px;
     font-family: "roboto",cursive;
     text-align: center;
     } 
     & p{
     font-size: 20px;
     color: gray;
     padding: 0 10px;
     margin-bottom: 21px;
     }
     & button{
     color: white;
     width: 250px;
     height: 60px;
     font-size: 17px;
     padding: 14px 28px;
     margin-bottom: 40px;
     border: none;
     margin-top: 14px;
     border-radius: 28px;
     background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9),rgba(225, 121, 218, 0.9));
     cursor: pointer;
         @include shadow.base-shadow; 
}
     & button:hover{
     @include hover.hover;
     }
 }