footer{
    background-color: #363636;
    padding: 0 24px;
    color: white;
    margin-bottom: -24px;
    height: 180px;
    & h3{
        font-family: "shrikhand",cursive;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: -7px;
        padding-top: 10px;
        font-weight: lighter;
        }
        & ul {
            margin-left: -6px;
            padding-left: 0px;
            list-style-type: none;
        }
        li{
            padding-bottom: 10px;
        }
        & a{
        text-decoration: none;
        color: white;
            
            & .fas{
                padding-right: 10px;
            }
    }
}
@media  screen and (min-width:769px) {
    footer {
        h3{
            display: flex;
            justify-content: center;
        }
   
       & ul{
            display: flex;
            justify-content: space-around;
            margin-top: 63px;
        }
    } 
}