@use"../mixin/shadow.scss" ;
@use"../mixin/hover.scss";
@use"../mixin/animationheart.scss";
header{ 
    height: 61px;
    h1{
        margin-bottom: 0px;
        margin-top: 10px;
    }
    & .redirection{
        position: relative;
        right: 46%;
        bottom: 23%;
        top: -25px;
        color: black;
        font-weight: bold;
    }
}
img{
    max-width: 100%;
    width: 100%;
    height: 270px;
    object-fit: cover;
}
.choice{
    padding-left: 0px;
    width: 100%;
    transform: translateY(-50px);
    background-color: #f7f7f7;
    border-radius: 45px 45px 0 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative; 
    margin-bottom: -69px; 
        }
        .choice__title{
            padding-left: 18px;
            padding-right: 11px;
            }
            h2{
                font-family: "shrikhand", "cursive"; 
                margin-top: 44px;
                margin-bottom: 20px;
                font-size: 27px;
                margin-left: 0px;
                     }                      
                    .heart{
                  @include animationheart.heart;   
                   }                 

    .card-main{
        padding: 0px;
    }
    .card{
       background-color: #f7f7f7; 
    & h3{
        margin-left: 15px;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-weight: 400;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            top: 26px;
            left: 0px;
            height: 3px;
            width: 48px;
            background-color: #99E2D0;
        }
    }
    }
         .card__category{
            background-color: white;
            border-radius: 15px;
            margin: 10px 10px;
            animation: apparition 2s ease-in-out both;
            -webkit-animation: apparition 2s ease-in-out both;
}
              .card__menu{
                display: flex;
                padding-top:0px;
                border-radius: 20px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                -ms-border-radius: 20px;
                -o-border-radius: 20px;
                overflow: hidden;
                @include shadow.base-shadow;
                margin-bottom: 20px;
                
                }  
                .card__category
                :hover { 
                .price__check{
                    margin-right: 0px;
                }
                .fa-check-circle{
                    animation: quartdetour 1s;
                    -webkit-animation: quartdetour 1s;
                }
            }
                .card-menu__items{
                    padding-top: 10px;
                    padding-bottom: 10px;
                    padding-left: 10px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    
}
             
            h4{
            margin: 0px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            } 
            p{
            margin: 0px;
            padding-top: 6px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            }
            .price{
            margin-left: auto; 
             margin-top: auto; 
            padding-bottom: 13px;
            padding-right: 10px;
            
            }
                  
            .price__check{
                background-color: #99E2D0;
                width: 50px;
                border-radius: 0px 20px 20px 0px;
                -webkit-border-radius: 0px 20px 20px 0px;
                -moz-border-radius: 0px 20px 20px 0px;
                -ms-border-radius: 0px 20px 20px 0px;
                -o-border-radius: 0px 20px 20px 0px;
                margin-right: -50px;
                transition: margin-right 0.5s;
                -webkit-transition: margin-right 0.5s;
                -moz-transition: margin-right 0.5s;
                -ms-transition: margin-right 0.5s;
                -o-transition: margin-right 0.5s;
        
                }          
               
  
            .fa-check-circle{
                margin-top: 42%;
                margin-left: 24%;
                color: white;
                font-size: 22px;
               
}
.button{ 
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    button{
        color: white;
        background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9),rgba(225, 121, 218, 0.9));
        width: 200px;
        height: 60px;
        position: relative;
        border-radius: 28px;
        border: none;
        box-shadow: 9px 12px 15px -10px #7e7e7e;
    }   
    button:hover{
        @include hover.hover;
    }
}
@keyframes quartdetour{
    0%{
        transform: rotate(-270deg);
        -webkit-transform: rotate(-270deg);
       -moz-transform: rotate(-270deg);
         -ms-transform: rotate(-270deg);
        -o-transform: rotate(-270deg);
 }
    100%{
       transform:rotate(0);
       -webkit-transform:rotate(0);
       -moz-transform:rotate(0);
        -ms-transform:rotate(0);
        -o-transform:rotate(0);
 }
 }  
@media screen and(min-width: 769px){
    .choice__title > h2{
        margin-left: 0px;
    }
    .card{
        display: flex;
        flex-wrap: wrap;
    }
    .entree{
        width: 45%;
        margin-left: 20px;
    }
    .plats{
        width: 45%;
        margin-left: 20px;
    }
    .dessert{
        width: 45%;
        margin-left: 28%;
    }
    .card__category{
        width: 95%;
    }
    .button{
        display: flex;
        width: 100%;
    }
    .heart i{
        right: 4%;
    }
    header .redirection{
        right: 48%;
        top: -30px;
    }
    .redirection{
        font-size: 20px;
    }
}
@media screen and(min-width: 992px){ 
     .entree{
    width: 30%;
    margin-right: 20px;
   margin-left: 20px;
    }
    .plats{
        width: 30%;
        margin-right: 20px;
       margin-left: 20px;
    }
    .dessert{
       width: 30%;
        margin-right: 20px;
        margin-left: 20px;
    }
  }
@keyframes apparition{
    0%{
        opacity: 0;
        transform: translateY(50%);
        -webkit-transform: translateY(50%);
        -moz-transform: translateY(50%);
        -ms-transform: translateY(50%);
        -o-transform: translateY(50%);
}
    100%{
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
}
}
