@use"../mixin/shadow.scss" ;
@use"../mixin/functions.scss";

header{ 
    height: 61px;
    h1{
        margin-bottom: 0px;
        margin-top: 10px;
    }
    & .redirection{
        position: relative;
        right: 43%;
        bottom: 23%;
        top: -33px;
        color: black;
        font-weight: bold;
    }
}

img{
    max-width: 100%;
    width: 100%;
    height: 270px;
    object-fit: cover;
}
.choice{
    padding-left: 0px;
    width: 100%;
    transform: translateY(-50px);
    background-color: #f7f7f7;
    border-radius: 45px 45px 0 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative; 
    margin-bottom: -50px; 
        }
        .choice__title{
            padding-left: 21px;
            padding-right: 21px;
            }
            h2{
                font-family: "shrikhand","cursive";
                width: 100%; 
                margin-top: 44px;
                margin-bottom: 20px;
                 }      
                    h3{
                        margin-left: 19px;
                        margin-top: 25px; 
                    }
          .card__menu{
              margin:  20px 10px;
              background-color: white;
              border-radius: 20px;
              @include shadow.base-shadow;
              h4{
                  margin: 20px 0px 0px 20px;
                  padding-top: 11px;
              }
              p{
                  margin: 8px 0px -8px 20px;
              }
              span{
                position: relative;
                right: 0px;
                left: 85%;
                top: -18px;
                bottom: 15px;
                font-weight: bold; 
              }           
}

          
          

      
                 
                         
        
