@use"../mixin/shadow.scss" ;
@use"../mixin/functions.scss";

header{ 
    height: 61px;
    h1{
        margin-bottom: 0px;
        margin-top: 10px;
    }
    & .redirection{
        position: relative;
        right: 43%;
        bottom: 23%;
        top: -33px;
        color: black;
        font-weight: bold;
    }
}
img{
    max-width: 100%;
    width: 100%;
    height: 270px;
    object-fit: cover;
}
.choice{
    padding-left: 0px;
    width: 100%;
    transform: translateY(-50px);
    background-color: #f7f7f7;
    border-radius: 45px 45px 0 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative; 
    margin-bottom: -69px; 
        }
        .choice__title{
            padding-left: 21px;
            padding-right: 21px;
            }
            h2{
                font-family: "shrikhand", "cursive"; 
                margin-top: 44px;
                margin-bottom: 20px;
                font-size: 27px;
                     }                      
                    .heart{
                        & i{
                            font-size: 24px;
                            position: absolute;
                            right: 14%;
                            top: 62.6px;
                            transform: translateY(-50%);
                             } 
                         .fas{
                             color: transparent;
                             background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9),rgba(255, 121, 218, 0.9));
                             background-clip: text;
                             -webkit-background-clip: text;
                             opacity: 0;
                             transition: all ease-in-out;
                }
                             & .fas:hover {
                                 opacity: 1;
                             }  
                    }

    .card-main{
        padding: 0px;
    }
    .card{
       background-color: #f7f7f7; 
    }
         .card__category{
            background-color: white;
            border-radius: 15px;
            margin: 0px 20px;
}
              .card__menu{
                display: flex;
                padding-top:0px;
                padding-bottom: 0px;
                padding-left: 0px;
                border-radius: 20px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                -ms-border-radius: 20px;
                -o-border-radius: 20px;
}  
                .card-menu__items{
                    padding-top: 10px;
                    padding-bottom: 10px;
                    padding-left: 14px;
                }
            h4{
            margin: 0px;
            } 
            p{
            margin: 0px;
            padding-top: 6px;
            }
            .price{
            margin-left: auto; 
             margin-top: auto; 
            padding-bottom: 13px;
            padding-right: 10px;
            
            }
            .price__check{
                background-color: #99E2D0;
                width: 50px;
                border-radius: 0px 20px 20px 0px;
                -webkit-border-radius: 0px 20px 20px 0px;
                -moz-border-radius: 0px 20px 20px 0px;
                -ms-border-radius: 0px 20px 20px 0px;
                -o-border-radius: 0px 20px 20px 0px;
}          
            .fa-check-circle{
                margin-top: 50%;
                margin-left: 30%;
            }
            
            