@use"../mixin/shadow.scss";

button{
    margin: 40px 20%;
    }
    button{
     width: 250px;
     height: 60px;
     border-radius: 30px;
     border: none;
     cursor: pointer;
     font-size: 20px;
     color: white;
     background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9),rgba(255, 121, 218, 0.9));
     transition-property: transform;
     transition-duration:  200ms;
     transform: scale(1);   
      @include shadow.base-shadow;
         }
       :hover button{
             transform: scale(1.2);
             -webkit-transform: scale(1.2);
             -moz-transform: scale(1.2);
             -ms-transform: scale(1.2);
             -o-transform: scale(1.2);
} 